@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background: #F3F5FC url('../assets/security-2168234_1280.jpg') center/cover no-repeat;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover; 
    background-position: center; 
}

.logo {
    width: 100px;
    height: 90px;
    padding-top: 20px;
    padding-left: 0px;
    margin-right: 0%;
}
.apresentacao{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 2% 5%;
    gap: 10px;
    margin-left: 15%;
    }

    
    .conteudo__caixa__texto{
        width: 50%;
        margin-bottom: 40%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        
    }
    .conteudo__caixa__texto textarea::placeholder {
        color: #ffffff; 
    }
    .conteudo__caixa{
        width: 100%;
        height: 210px;
        background-color: #80b2f000;
        color: #080808;
        
        font-size: 30px;
        font-weight: 400;
    }
    .alerta {
        position: relative;
        display: flex;
        padding-left: 20%;
        color: #000000;
        margin-top: 1px;
    }
        .alerta img {
            width: 17px; 
            height: 17px;
        }
        
        .btn-criptografar,
.btn-descriptografar {
    width: 38%; 
    box-sizing: border-box;
    margin-left: 5%;
    border: 2px solid #22d4fd;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.btn-criptografar {
    background-color: #0a3871;
    color: #f4f4f4;
}

.btn-descriptografar {
    background-color: #d8dfe8;
    color: #0a3871;
}
.botao__copiar{
    width: 100%;
 }
 
 .btn-copiar{
     width: 250px;
     height: 57px;
     border-radius: 10px;
     background-color: #ffffff;
     color: #0a3871;
     font-size: 16px;
     font-weight: 400;
     font-family: 'inter' , sans-serif;
     border: 1px solid #0a3871;
     cursor: pointer;
     position: relative;
     justify-content:space-between;
     }

        .apresentacao__2{
            width: 350px;
            background-color:#f4f4f4;
            border-radius: 20px;
            display: flex;
            flex-direction: column; 
            align-self: flex-start; 
            padding: 10px; 
           
        }
        
        .conteudo__caixa__resultado{
            width: 100%;
            margin-bottom: 20px; 
           
        }
        .conteudo__caixa_paragrafo{
            width: 100%;
            display: flex;
            font-family:   sans-serif;
            flex-direction: column;
            font-size: 11px;
            font-weight: 400;
            margin-top: 20px; 
       
        }
        .conteudo__caixa__boneco{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-self: flex-start; 
            margin-top: 0; 
          
        }
        
        .rodape{
            color: #ffffff;
            background-color: #0a3871;
            padding: 20px;
            text-align: center;
            font-family:'Montserrat', sans-serif;
            font-size: 1.5rem;
            font-weight: 400px;
            margin-top: auto; 
        
        }
        @media (max-width: 1080px) {
            
        
            .apresentacao {
                flex-direction: column;
                align-items: center;
                margin-left: 2%;
            }
        
            .conteudo__caixa__texto {
                width: 100%;
                margin-bottom: 50px;
            }
            
            .btn-criptografar,
            .btn-descriptografar{
                font-size:smaller;
            }
            .apresentacao__2 {
                width: 100%; 
                margin-top: 20px; 
            }
        
            .conteudo__caixa__boneco{
                display: none; 
                width: 10%;
                margin-top: 20px; 
            }
            .conteudo__caixa__resultado{
                flex-direction: column;
                align-items: center;
                 
            }
            .conteudo__caixa_paragrafo{
                width: 100%;
                margin-top: 20px; 
            }
        
            .botao__copiar {
                top: 1px; 
            }
        
            .rodape {
                font-size: 1.2rem; 
            }
        }
        